@font-face {
    font-family: 'glacial-indifference';
    src: url('../fonts/GlacialIndifference-Bold.otf') format('opentype'),
         url('../fonts/GlacialIndifference-Regular.otf') format('opentype');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
  }
  